<html>
    <head>
        <title>Basundhara's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Basundhara's Blog</a></h1>
        </div>

        <div>
            <p>published: 24.03.2018, 13:52</p>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to my blog.</p>
        </div>

        <div>
            <p>published: 24.03.2018, 13:54</p>
            <h2><a href="">My second post</a></h2>
            <p>This is the first website I created.</p>
        </div>
    </body>
</html>
